registry=https://registry.npmmirror.com
sass_binary_site=https://npmmirror.com/mirrors/node-sass
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips
sqlite3_binary_site=https://npmmirror.com/mirrors/sqlite3
sentrycli_cdnurl=https://npmmirror.com/mirrors/sentry-cli
puppeteer_download_host=https://npmmirror.com/mirrors/puppeteer
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
gifsicle_binary_host_mirror=https://npmmirror.com/mirrors/gifsicle-bin/
optipng_binary_host_mirror=https://npmmirror.com/mirrors/optipng-bin/
jpegtran_binary_host_mirror=https://npmmirror.com/mirrors/jpegtran-bin/
bin_wrapper_custom_headers={"User-Agent":"Mozilla/5.0"}
